@page
@model AdminHelper.Pages.Employee.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmployeeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeModel.EmployeeFirstName" class="control-label"></label>
                <input asp-for="EmployeeModel.EmployeeFirstName" class="form-control" />
                <span asp-validation-for="EmployeeModel.EmployeeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeModel.EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeModel.EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeModel.EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeModel.EmployeeAddress" class="control-label"></label>
                <input asp-for="EmployeeModel.EmployeeAddress" class="form-control" />
                <span asp-validation-for="EmployeeModel.EmployeeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeModel.CellNo" class="control-label"></label>
                <input asp-for="EmployeeModel.CellNo" class="form-control" />
                <span asp-validation-for="EmployeeModel.CellNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeModel.EmergencyContactName" class="control-label"></label>
                <input asp-for="EmployeeModel.EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmployeeModel.EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeModel.EmergencyContactNo" class="control-label"></label>
                <input asp-for="EmployeeModel.EmergencyContactNo" class="form-control" />
                <span asp-validation-for="EmployeeModel.EmergencyContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
